/*
 _____                         ___
(  _  )                       (  _`\
| (_) | _ __  _   _  _ _      | | ) |   __    ___ (_)   __    ___    ___
|  _  |( '__)( ) ( )( '_`\    | | | ) /'__`\/',__)| | /'_ `\/' _ `\/',__)
| | | || |   | (_) || (_) )   | |_) |(  ___/\__, \| |( (_) || ( ) |\__, \
(_) (_)(_)   `\___/'| ,__/'   (____/'`\____)(____/(_)`\__  |(_) (_)(____/
                    | |                              ( )_) |
                    (_)                               \___/'
Stylesheet for Artisan Cycles Limited
Date: October 2014
Author: Arup Sen
http://arupdesigns.co.uk
arup@arupdesigns.co.uk
css to zero courtesy of Eric Meyer with adjustments
No license. Use what you like.
Happy to receive feedback :)
*/
html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  text-align: left;
  vertical-align: baseline; }

a img, :link img, :visited img {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: none; }

q:before, q:after,
blockquote:before, blockquote:after {
  content: ""; }

/* BG IMAGE PATH url('../images/my_image.gif') */
/*the main global rules*/
body {
  font-family: "Lato", sans-serif;
  font-size: 100.01%;
  position: relative;
  margin: 0 auto;
  background-color: #FFFFFF;
  color: #404040; }

div#wrap {
  max-width: 930px;
  padding-top: 40px;
  font-size: 11px; }

h1, h2, h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }

h1 {
  font-size: 0;
  color: #999999; }

h1 img {
  width: 200px; }

h2 {
  font-size: 14px;
  text-align: right;
  position: relative;
  bottom: 16px;
  color: #999999; }

h3 {
  color: #5b7e96;
  font-weight: bold;
  font-size: 11px; }

/*content area*/
div#contents {
  position: relative; }

/*bootstrap overrides*/
.row {
  margin-left: 0;
  margin-right: 0; }

/*main navbar*/
ul#navbar {
  background-color: #999999;
  padding: 4px 0px;
  min-height: 30px; }
  ul#navbar li {
    float: left; }
    ul#navbar li a {
      font-family: "Oswald", sans-serif;
      font-size: 14px;
      color: white;
      text-transform: uppercase;
      padding: 2px 20px; }
    ul#navbar li a:hover {
      color: #333333;
      text-decoration: none; }

#index #nav-home a, #about #nav-about a, #bikes #nav-bikes a, #frames #nav-frames a, #fitting #nav-fitting a, #wheels #nav-wheels a, #clothing #nav-clothing a, #visits #nav-visits a {
  color: #333333; }

div#clear {
  clear: left; }

.picture {
  padding: 0; }
  .picture p {
    font-family: "Oswald", sans-serif;
    font-size: 12px; }

.text p {
  margin: 0 0 1em 15px; }

.text h3 {
  margin: 30px 0 0 15px; }

.enquire {
  background-color: #f9babf;
  width: 100px;
  box-shadow: 2px 2px 4px;
  border-radius: 1px;
  padding: 0px 12px;
  line-height: 1.9em; }
  .enquire a {
    color: #404040;
    font-family: "Lobster", cursive;
    font-size: 16px; }
  .enquire a:hover {
    text-decoration: none; }

/*footer*/
#footer {
  color: white;
  background-color: #5b7e96;
  font-size: 10px;
  text-transform: uppercase;
  min-height: 44px; }
  #footer p {
    padding-top: 7px;
    text-align: center; }
  #footer a {
    text-decoration: none;
    color: white; }
  #footer a:hover {
    color: #333333; }

/* home page */
#index #contents p {
  font-family: "Lobster", cursive;
  color: #d65f00;
  font-size: 24px;
  position: absolute;
  bottom: 10px;
  left: 10px; }

/* about page */
#about .text p {
  margin-bottom: -1.6em; }

#about .text p.enquire {
  margin-top: 2.5em; }

#about #contents {
  background: #e6e6e6; }

/* frames page */
#frames #contents {
  background: #e6e6e6; }

#frames .text {
  padding-top: 25px;
  padding-left: 0;
  margin-left: -16px; }

img[alt="frame dropouts"] {
  margin-top: -19px; }

img[alt="frame on bench"] {
  padding: 30px 0; }

#frames aside p {
  font-family: "Lobster", cursive;
  color: #5b7e96;
  font-size: 32px;
  width: 280px;
  position: absolute;
  left: 75px;
  top: 550px; }

/* fitting page */
#fitting h3 {
  color: #184a98;
  margin-bottom: 1em; }

#fitting #contents {
  background: #e6e6e6; }

#fitting #contents {
  background: #e6e6e6; }

#fitting .picture p {
  position: absolute;
  top: 355px;
  color: #c2c2c2;
  width: 100px;
  left: 10px; }

#fitting p.enquire {
  margin-top: 58px; }

/* wheels page */
#wheels #contents {
  background: #e6e6e6; }

#wheels .text p {
  max-width: 300px; }

#wheels h3 {
  color: #006e6e;
  margin-bottom: 1em; }

#wheels p.enquire {
  margin-top: 75px; }

/* clothing page */
#clothing aside {
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  text-transform: uppercase; }

/* visits page */
.social-icons {
  position: absolute;
  left: 208px;
  top: 96px; }

.social-icons img {
  display: inline;
  padding: 5px;
  width: 40px; }

#visits .picture p {
  position: absolute; }

p.appointment {
  font-family: "Lobster", cursive;
  color: #ffffff;
  bottom: 15px;
  font-size: 14px;
  right: 30px; }

p.henry-moore, p.cafe {
  font-size: 12px;
  left: 5px; }

p.henry-moore {
  top: 290px; }

p.henry-moore a:hover, p.cafe a:hover {
  text-decoration: none; }

p.henry-moore a {
  color: #FFFFFF; }

p.cafe {
  top: 425px; }

p.cafe a {
  color: #000000; }

address {
  margin: 26px 0 -18px 45px;
  color: #595959; }

img[src='./images/visits-map.jpg'] {
  margin-left: 45px;
  margin-top: 20px; }

div#SkypeButton_Call_artisancycles_1 img {
  position: absolute;
  top: -75px;
  left: 51px; }

/*all the Safari stuff together*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /*global rules*/
  /*safari rule*/
  /*navbar*/
  /*content area*/ }
